[user]
	email = contact.twn@openmailbox.org
	name = Vineeth Raj
[color]
	ui = auto
[alias]
	uncommit = reset --soft HEAD^
[core]
	autocrlf = input
	pager = less -x1,5
	editor = '/usr/bin/subl' --wait
