[submodule "bin/plowshare"]
	path = bin/plowshare
	url = https://code.google.com/p/plowshare/
[submodule ".themes"]
	path = .themes/spookyhaxxortheme
    url = git@github.com:thewisenerd/spookyhaxxortheme.git
