# thanks to simont (http://stackoverflow.com/a/9227991/2873157)
# First, ignore everything
*

################################################################################
                                add custom stuff
################################################################################
#configs for geany
!.config/geany/colorschemes/*
!.config/geany/filedefs/filetypes.Edify.conf
!.config/geany/keybindings.conf
!.config/geany/filetype_extensions.conf

#roxterm
!.config/roxterm.sourceforge.net/Colours/*
!.config/roxterm.sourceforge.net/Shortcuts/Default
!.config/roxterm.sourceforge.net/Global/*

#sublime
!.config/sublime-text-3/Packages/User/Preferences.sublime-settings

#bin
!bin/*

#compass-icon-theme
!.icons/Compass/*

#fonts
!.fonts/*
